@mixin size($width, $height){
    width: $width;
    height: $height;
}

@mixin flexProperties($direction, $align, $wrap){
    flex-direction: $direction;
    align-items: $align;
    flex-wrap: $wrap;
}

@mixin background__border($background, $border){
    background-color: $background;
    border: $border;
}

