 $linksSize: 25px;
 $titleSize: 50px;

.nav__listas{
    .lista{
        font-size: $linksSize;
        .lista_h1 { 
            font-size: $titleSize;    
        }
    }
}

footer h3{
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

