<!DOCTYPE html>
<html lang="es">
<!-- Inicio head -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="computadoras, PC, hardware, ram, placa de video, procesador, monitores, motherboard, disco duro, disco sólido, fuentes, gabinetes, memorias"> 
    <meta name="description" content="Tienda especializada en la venta y asesoramiento de hardware; radicalizada en la ciudad de Córdoba, Argentina y con envío a todo el país">  

    <title class="fuente">HardBuy | Arma tu PC</title>
    <!-- Inicio fuentes Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Montserrat:ital,wght@1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/styles.css">
    <!-- Fin fuentes de Google fonts -->
</head>
<!-- Fin head -->


<!-- Inicio body -->
<body>
    <div class="gridBuild">
    <!-- Inicio header -->
        <header>
            <nav class="tablaHeaderFooter"> 
                <ul class="rowFlex">
                    <li><a href="./products.html">Productos</a></li>
                    <li class="menu"><a href="./buildpc.html">Arma tu PC</a>
                        <ul>
                            <li><a href="">Intel</a></li>
                            <li><a href="">AMD</a></li>
                        </ul>
                    </li>
                    <li><a href="../index.html"><h1 class="title">HardBuy</h1></a></li>
                    <li><a href="./account.html">Mi Cuenta</a>
                    </li>
                    <li><a href="./help.html">Ayuda</a></li>   
                </ul>           
                <ul>
                    <li>&nbsp;</li>
                </ul>
            </nav>         
        </header>
    <!-- Fin header -->


    <!-- Inicio main -->

        <section class="listado texto">
            <div class="fieldset">
                <fieldset style="width: 550px">
                    <div><p>Paso 2 de 9</p></div>
                    <div><input type="button" value="Ver Resumen"></div>
                    <div>
                        <input type="button" value="Omitir Componente">
                        <input type="submit" value="Finalizar">
                    </div>
                </fieldset>
            </div>
   
            <div class="marcaWidth">
                <label for="text">Marca de procesador: </label>
                <select name="brands" id="">
                    <option value="" selected disabled> Intel </option>
                    <option value="amd">AMD</option>
                    <option value="intel">Intel</option>
                </select>
            </div>

            <div>
                <ol class="estiloLista">
                    <li>Procesadores</li>
                    <li>Memorias RAM</li>
                    <li>Placas de video</li>
                    <li>Fuentes de alimentación</li>
                    <li>Motherboards</li>
                    <li>Gabinetes</li>
                    <li>Coolers</li>
                    <li>Disco duro</li>
                    <li>Disco sólido</li>
                </ol>
            </div>
       </section>

       <section class="productos">
            <div class="productoTxt">
                <div>
                    <label for="text">Ordenar por: </label>
                    <select name="Ordenar por:" id="">
                        <option value="" selected disabled>Seleccione</option>
                        <option value="">Ascendente</option>
                        <option value="">Descendente</option>
                    </select>
                </div>
                <div>
                    <label for="">Subtotal:</label>
                    <textarea name="" id="" cols="12" rows="1"></textarea>
                </div>
            </div>
            <div class="container">
                <div>
                    <div  class="item">
                        <img src="../assets/img/micros/celeron.png" alt="" width="100" height="100">
                    </div>
                    <div class="back">
                        <ul>
                            <li>Intel Celeron</li>
                            <li class="price">$8000</li>
                            <li><input type="button" value="Añadir al carrito"></li>
                        </ul>
                    </div>
                </div>
                <div>
                    <div  class="item">
                        <img src="../assets/img/micros/pentium.png" alt="" width="100" height="100">
                    </div>
                    <div class="back">
                        <ul>
                            <li>Intel Pentium</li>
                            <li class="price">$10000</li>
                            <li><input type="button" value="Añadir al carrito"></li>
                        </ul>
                    </div>
                </div>
                <div>
                    <div  class="item">
                        <img src="../assets/img/micros/i3.png" alt="" width="100" height="100">
                    </div>
                    <div class="back">
                        <ul>
                            <li>Intel i3 9100f</li>
                            <li class="price">$13000</p></li>
                            <li><input type="button" value="Añadir al carrito"></li>
                        </ul>
                    </div>
                </div>
                <div>
                    <div  class="item">
                        <img src="../assets/img/micros/i3-11th.png" alt="" width="100" height="100">
                    </div>
                    <div class="back">
                        <ul>
                            <li>Intel i3 11gen</li>
                            <li class="price">$20000</li>
                            <li><input type="button" value="Añadir al carrito"></li>
                        </ul>
                    </div>
                </div>
                <div>
                    <div  class="item">
                        <img src="../assets/img/intel.png" alt="" width="100" height="100">
                    </div>
                    <div class="back">
                        <ul>
                            <li>Intel i5 9400f</li>
                            <li class="price">$23000</li>
                            <li><input type="button" value="Añadir al carrito"></li>
                        </ul>
                    </div>
                </div>
                <div>
                    <div  class="item">
                        <img src="../assets/img/micros/i5-11th.png" alt="" width="100" height="100">
                    </div>
                    <div class="back">
                        <ul>
                            <li>Intel i5 11gen</li>
                            <li class="price">$25000</li>
                            <li><input type="button" value="Añadir al carrito"></li>
                        </ul>
                    </div>
                </div>
                <div>
                    <div  class="item">
                        <img src="../assets/img/micros/i7-10700ka.png"  alt="" width="100" height="100">
                    </div>
                    <div class="back">
                        <ul>
                            <li>Intel i7 10700ka</li>
                            <li class="price">$29000</li>
                            <li><input type="button" value="Añadir al carrito"></li>
                        </ul>
                    </div>                 
                </div>
                <div>
                    <div  class="item">
                        <img src="../assets/img/micros/i9.png" alt="" width="100" height="100">
                    </div>
                    <div class="back">
                        <ul>
                            <li>Intel i9 9900k</li>
                            <li class="price">$35000</li>
                            <li><input type="button" value="Añadir al carrito"></li>
                        </ul>
                    </div>                 
                </div>
                <div>
                    <div  class="item">
                        <img src="../assets/img/micros/i9-11th.png" alt="" width="100" height="100">
                    </div>
                    <div class="back">
                        <ul>
                            <li>Intel i9 11gen</li>
                            <li class="price">$40000</li>
                            <li><input type="button" value="Añadir al carrito"></li>
                        </ul>
                    </div>                 
                </div>
        </section>


        <!-- Fin main -->

 
        <!-- Inicio footer -->
        <section class="footerFlex">
            <a href="">Quénes somos</a>
            <a href="">Términos y condiciones</a>
            <a href="">Garantía y devoluciones</a>           
        </section>
        
        <!-- Links de redes sociales -->
        <section class="redesFlex"> 
            <h3>Seguinos en</h3>
            <div>
                <a href="https://www.facebook.com.ar/hardbuy" target="blank"><img src="../assets/img/fb_logo.png" alt="" width="50" height="50"></a>
                <a href="https://www.instagram.com/hardbuy" target="blank"><img src="../assets/img/instagram_logo.png" alt="" width="50" height="50"></a>
                <a href="https://www.twitter.com/hardbuy" target="blank"><img src="../assets/img/twitter_logo.png" alt="" width="50" height="50"></a>
                <a href="https://www.youtube.com/hardbuy" target="blank"><img src="../assets/img/youtube_logo.png" alt="" width="50" height="50"></a>
            </div>
        </section>   

        <section class="contactoFlex">
            <!-- Link de contacto -->
            <div>
                <h3>Contacto</h3>
                <a href="https://api.whatsapp.com/send?phone=+5491111111111" target="blank"><img src="../assets/img/wp_logo.png" alt="" width="50" height="50"></a>
            </div>
        </section> 
    <!-- Fin footer -->
    </div>      
</body>
<!-- Fin body -->
</html>