<!DOCTYPE html>
<html lang="es">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="keywords" content="Computadoras, PC, hardware, ram, placas de video, procesador, monitores, motherboard, disco duro, disco sólido, fuentes, gabinetes, memorias, disipador, pasta térmica, 144hz, 240hz, discos externos, pendrives, ventilador, cooler, radeon, nvidia, amd, intel"> 
  <meta name="description" content="Hardbuy te ofrece la más amplia gama de productos para tu PC al mejor precio">  


  <!-- Links google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Montserrat:ital,wght@1,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@300&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap" rel="stylesheet">
      
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/styles.css">
  <title>HardBuy | Productos</title>   
</head>
<!-- Fin head -->
    


<!-- Inicio body -->
<body>
   <!-- Inicio Header -->
   <header>
    <div class="container-fluid">
      <div class="row nav__background--color bg-dark">
        <div class="col-lg-12 col-9 col-md-12 bg-dark nav--height nav--flex nav--padding">
          <div class="col-lg-8 col-8">
            <a href="../index.html"><img src="../assets/img/logo.png" alt="hardbuy_logo" class="nav__logo" ></a> 
          </div>
          <div class="search-container search-container__mobile--width search-container__mobile--position">
            <input type="checkbox" id="checkbox2">
            <input type="text" name="search" placeholder="Buscar" class="search-input">
            <a href="#" class="search-btn search-btn__position">
              <i class="fas fa-search"></i>      
            </a>
            <form class="search-container-mobile" action="">
              <input type="text" class="search" autocomplete="off" placeholder="Buscar...">
            </form>
          </div>
        </div>

        <div class="offset-lg-2 offset-md-2 col-lg-8 col-md-8 col-3 nav__order nav--flex">
          <nav class="navbar navbar-expand-lg navbar-expand-md navbar-dark fixed-top">
            <button class="navbar-toggler nav__collapseButton" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <div class="menu">
                <input type="checkbox" id="checkbox">
                <label for="checkbox" class="menu__lines">
                  <span></span>
                  <span></span>
                  <span></span>
                </label>
              </div>
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav mr-auto nav__listas">
                <li class="nav-item active nav__links">
                  <a class="nav-link" href="./products.html">Productos</a>
                </li>
                <li class="nav-item dropdown menu  nav__links">
                  <a class="nav-link dropdown-toggle" href="./buildpc.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Arma tu PC</a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="./error404.html">AMD</a>
                    <a class="dropdown-item" href="./error404.html">Intel</a>
                  </div>
                </li>
                <li class="nav-item nav__links">
                  <a class="nav-link" href="./account.html">Mi Cuenta</a>
                </li>
                <li class="nav-item nav__links">
                  <a class="nav-link" href="./help.html">Ayuda</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </header>

  <main>
  <!-- Inicio main -->  

    <!-- RGB Bar -->
    <section id="rgbar" class="outer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 col-xs-12">

          </div>
        </div>
      </div>
    </section>    
    
    <!-- Inicio productos -->
    <div class="container clasificacion">
      <div class="row clasificacion__mobile--justify">
        <!-- Clasificación de productos -->
        <div class="col-lg-3 clasificacion__background">
          <div class="clasificacion__item">
            <h2 class="clasificacion__titulo clasificacion__border">Carrito</h2>
            <p>No hay productos en el carrito :(</p>
          </div>
          <div  class="clasificacion__item">
            <h2 class="clasificacion__titulo  clasificacion__border">Categorías</h2>
            <ul>
              <li>Procesadores</li>
              <li>Motherboard</li>
              <li>Placas de video</li>
              <li>Memorias RAM</li>
              <li>Gabinetes</li>
              <li>Monitores</li>
              <li>Fuentes</li>
              <li>Almacenamiento</li>
              <li>Disipador</li>
            </ul>
          </div>
          <div class="clasificacion__item">
            <h2 class="clasificacion__titulo  clasificacion__border">Buscar</h2>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
              <button class="btn btn-outline-success" type="submit"><i class="fas fa-search"></i></button>
            </form>
          </div>

          <div>
            <h2 class="clasificacion__titulo clasificacion__border">Filtros</h2>
            <input class="filtros filtros__width btn__filtrar__campos" type="text" placeholder="min">
            <span>a</span>
            <input class="filtros filtros__width btn__filtrar__campos" type="text" placeholder="max">
            <button class="btn btn-outline-success btn__filtrar" type="submit">Filtrar</button>
          </div>
        </div>

        <!-- Listado de productos -->
        <div class="col-lg-9 col-10 productos" style="display: flex; flex-wrap: wrap; margin-top: 50px; margin-bottom: 50px;">
          <!-- Producto #1 -->
          <div class="product product__background product__border productos__margin col-lg-4 col-md-6">
            <div class="product-image">
              <a href="" class="image">
                <img src="../assets/img/products/motherboard/rog_b550-f.jpg" class="pic-1" alt="placa madre rog b550-f">
                <img src="../assets/img/products/motherboard/rog_b550-f_2.jpg" class="pic-2" alt="conectores placa madre rog b550-f" >
              </a>
              <a href="" class="cart">Añadir al Carrito</a>
              <ul class="links">
                <li class="links__search"><a href=""><i class="fa fa-search" aria-hidden="true"></i></a></li>
                <li><a href=""><i class="fa fa-heart" aria-hidden="true"></i></a></li>
              </ul>  
            </div>
            <div class="content">
              <span class="category"><a href="">Asus</a></span>
              <h3 class="title"><a href="">ROG B550-f</a></h3>
              <div class="price">$28990</div>
            </div>
          </div>

          <!-- Producto #2 -->
          <div class="product product__background productos__margin product__border col-lg-4 col-md-6">
            <div class="product-image">
              <a href="" class="image">
                <img src="../assets/img/products/fuentes/seasonic_focus_gx850.jpg" class="pic-1" alt="fuente seasonic gx850">
                <img src="../assets/img/products/fuentes/seasonic_focus_gx850_2.jpg" class="pic-2" alt="fuente seasonic gx850" >
              </a>
              <a href="" class="cart">Añadir al Carrito</a>
              <ul class="links">
                <li class="links__search"><a href=""><i class="fa fa-search" aria-hidden="true"></i></a></li>
                <li><a href=""><i class="fa fa-heart" aria-hidden="true"></i></a></li>
              </ul>  
            </div>
            <div class="content">
              <span class="category"><a href="">Seasonic</a></span>
              <h3 class="title"><a href="">Focus gx850</a></h3>
              <div class="price">$60021</div>
            </div>
          </div>
  
          <!-- Producto #3 -->
          <div class="product product__background productos__margin product__border col-lg-4 col-md-6">
            <div class="product-image">
              <a href="" class="image">
                <img src="../assets/img/products/fuentes/corsair_rm_750.jpg" class="pic-1" alt="fuente corsair rm750">
                <img src="../assets/img/products/fuentes/corsair_rm_750_2.jpg" class="pic-2" alt="caja fuente corsair rm750" >
              </a>
              <a href="" class="cart">Añadir al Carrito</a>
              <ul class="links">
                <li class="links__search"><a href=""><i class="fa fa-search" aria-hidden="true"></i></a></li>
                <li><a href=""><i class="fa fa-heart" aria-hidden="true"></i></a></li>
              </ul>  
            </div>
            <div class="content">
              <span class="category"><a href="">Corsair</a></span>
              <h3 class="title"><a href="">RM750</a></h3>
              <div class="price">$24500</div>
            </div>
          </div>

          <!-- Producto #4 -->
          <div class="product product__background productos__margin  product__border col-lg-4 col-md-6">
            <div class="product-image">
              <a href="" class="image">
                <img src="../assets/img/products/gpu/rog_3070.jpg" class="pic-1" alt="caja placa de video asus rtx3070">
                <img src="../assets/img/products/gpu/rog_3070_2.jpg" class="pic-2" alt="placa de video asus rtx3070" >
              </a>
              <a href="" class="cart">Añadir al Carrito</a>
              <ul class="links">
                <li class="links__search"><a href=""><i class="fa fa-search" aria-hidden="true"></i></a></li>
                <li><a href=""><i class="fa fa-heart" aria-hidden="true"></i></a></li>
              </ul>  
            </div>
            <div class="content">
              <span class="category"><a href="">Asus</a></span>
              <h3 class="title"><a href="">ROG RTX 3070</a></h3>
              <div class="price">$389000</div>
            </div>
          </div>

          <!-- Producto #5 -->
          <div class="product product__background productos__margin  product__border col-lg-4 col-md-6">
            <div class="product-image">
              <a href="" class="image">
                <img src="../assets/img/products/motherboard/aorus_x570.jpg" class="pic-1" alt="placa madre aorus x570">
                <img src="../assets/img/products/motherboard/aorus_x570_2.jpg" class="pic-2" alt="conectores placa madre aorus x570" >
              </a>
              <a href="" class="cart">Añadir al Carrito</a>
              <ul class="links">
                <li class="links__search"><a href=""><i class="fa fa-search" aria-hidden="true"></i></a></li>
                <li><a href=""><i class="fa fa-heart" aria-hidden="true"></i></a></li>
              </ul>  
            </div>
            <div class="content">
              <span class="category"><a href="">Gigabyte</a></span>
              <h3 class="title"><a href="">Aorus x570</a></h3>
              <div class="price">$38989</div>
            </div>
          </div>
  
          <!-- Producto #6 -->
          <div class="product product__background  productos__margin  product__border col-lg-4 col-md-6">
            <div class="product-image">
              <a href="" class="image">
                <img src="../assets/img/products/gpu/aorus_xtreme_3080.jpg" class="pic-1" alt="caja placa de video aorus rtx3080">
                <img src="../assets/img/products/gpu/aorus_xtreme_3080_2.jpg" class="pic-2" alt="placa de video aorus rtx3080" >
              </a>
              <a href="" class="cart">Añadir al Carrito</a>
              <ul class="links">
                <li class="links__search"><a href=""><i class="fa fa-search" aria-hidden="true"></i></a></li>
                <li><a href=""><i class="fa fa-heart" aria-hidden="true"></i></a></li>
              </ul>  
            </div>
            <div class="content">
              <span class="category"><a href="">Gigabyte</a></span>
              <h3 class="title"><a href="">Aorus Xtreme RTX3080</a></h3>
              <div class="price">$312000</div>
            </div>
          </div>

          <!-- Producto #7 -->
          <div class="product product__background productos__margin product__border col-lg-4 col-md-6">
            <div class="product-image">
              <a href="" class="image">
                <img src="../assets/img/products/waterColling/kraken_z63.jpg" class="pic-1" alt="refrigeración líquida nzxt kraken z63">
                <img src="../assets/img/products/waterColling/kraken_z63_2.jpg" class="pic-2" alt="radiador nzxt kraken z63" >
              </a>
              <a href="" class="cart">Añadir al Carrito</a>
              <ul class="links">
                <li class="links__search"><a href=""><i class="fa fa-search" aria-hidden="true"></i></a></li>
                <li><a href=""><i class="fa fa-heart" aria-hidden="true"></i></a></li>
              </ul>  
            </div>
            <div class="content">
              <span class="category"><a href="">NZXT</a></span>
              <h3 class="title"><a href="">Kraken z63</a></h3>
              <div class="price">$80799</div>
            </div>
          </div>

          <!-- Producto #8 --> 
          <div class="product product__background  productos__margin product__border col-lg-4 col-md-6">
            <div class="product-image">
              <a href="" class="image">
                <img src="../assets/img/products/ram/trident_z_royale.jpg" class="pic-1" alt="ram tridentZ silver">
                <img src="../assets/img/products/ram/tridez_z_royale_2.jpg" class="pic-2" alt="ram tridentZ gold" >
              </a>
              <a href="" class="cart">Añadir al Carrito</a>
              <ul class="links">
                <li class="links__search"><a href=""><i class="fa fa-search" aria-hidden="true"></i></a></li>
                <li><a href=""><i class="fa fa-heart" aria-hidden="true"></i></a></li>
              </ul>  
            </div>
            <div class="content">
              <span class="category"><a href="">TridentZ</a></span>
              <h3 class="title"><a href="">Royal 2x8gb</a></h3>
              <div class="price">$77699</div>
            </div>
          </div>

          <!-- Producto #9 -->
          <div class="product product__background  productos__margin product__border col-lg-4 col-md-6">
            <div class="product-image">
              <a href="" class="image">
                <img src="../assets/img/products/ssd/corsair_mp510.jpg" class="pic-1" alt="memoria ssd corsair mp510">
                <img src="../assets/img/products/ssd/corsair_mp510_2.jpg" class="pic-2" alt="caja memoria ssd corsair mp510" >
              </a>
              <a href="" class="cart">Añadir al Carrito</a>
              <ul class="links">
                <li class="links__search"><a href=""><i class="fa fa-search" aria-hidden="true"></i></a></li>
                <li><a href=""><i class="fa fa-heart" aria-hidden="true"></i></a></li>
              </ul>  
            </div>
            <div class="content">
              <span class="category"><a href="">Corsair</a></span>
              <h3 class="title"><a href="">MP510 48gb</a></h3>
              <div class="price">$12596</div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </main>

  <!-- Fin main -->

  <!-- Footer -->
  <footer>
    <div class="container-fluid">
      <div class="row">
        <section class="col-lg-12 col-xs-12 footer__info">
          <a class="footer__info__links" href="">Quiénes somos</a>
          <a class="footer__info__links" href="">Términos y condiciones</a>
          <a class="footer__info__links" href="">Garantía y devoluciones</a>       
        </section>
      </div>
      <div class="row">
        <section class="col-lg-6 col-xs-12 footer__redes bg-dark">
          <h3 class="redes__text">Seguinos en</h3>
          <div class="footer__logos--animated">
              <div class="icon-cont">
                <a target="blank" href="https://www.facebook.com.ar/hardbuy">
                  <i class="fab fa-facebook-f redes__color" aria-hidden="true"></i>
                </a>
              </div>
              <div class="icon-cont">
                <a target="blank" href="https://www.twitter.com.ar/hardbuy">
                  <i class="fab fa-twitter redes__color" aria-hidden="true"></i>
                </a>
              </div>
              <div class="icon-cont">
                <a target="blank" href="https://www.instagram.com.ar/hardbuy">
                  <i class="fab fa-instagram redes__color" aria-hidden="true"></i>
                </a>
              </div>
              <div class="icon-cont">
                <a target="blank" href="https://www.youtube.com.ar/hardbuy">
                  <i class="fab fa-youtube redes__color" aria-hidden="true"></i>
                </a>
              </div>
          </div>
        </section>

        <section class="col-lg-6 col-xs-12 footer__contacto bg-dark">
          <div>
            <h3 class="redes__text redes__text__contacto">Contacto</h3>
          </div>
          <div class="footer__logos--animated">
            <div class="icon-cont">
              <a target="blank" href="https://api.whatsapp.com/send?phone=+5491111111111">
                <i class="fab fa-whatsapp redes__color" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </section>
      </div>
    </div>
  </footer>

  <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" integrity="sha512-RXf+QSDCUQs5uwRKaDoXt55jygZZm2V++WUZduaU/Ui/9EGp3f/2KZVahFZBKGH0s774sd3HmrhUy+SgOFQLVQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</body>
<!-- Fin body -->

</html>