<!DOCTYPE html>
<html lang="es">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="keywords" content="computadoras, PC, hardware, ram, placa de video, procesador, monitores, motherboard, disco duro, disco sólido, fuentes, gabinetes, memorias"> 
        <meta name="description" content="Tienda especializada en la venta y asesoramiento de hardware; radicalizada en la ciudad de Córdoba, Argentina y con envío a todo el país">  
    
    
        <!-- Links google fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Montserrat:ital,wght@1,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@300&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap" rel="stylesheet">
            
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/styles.css">
        <title>HardBuy | Productos</title>   
      </head>
    <!-- Fin head -->
    


  <!-- Inicio body -->
  <body>
  <!-- Nav --> 
    <header class="container-fluid nav">
      <div class="row nav__background--color">
        <div class="col-lg-12 col-xs-12">
          <nav class="navbar navbar-expand-lg navbar-light bg-light nav__background--color">
            <p>Hardbuy</p>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto nav__listas">
                <li class="nav-item active nav__links">
                  <a class="nav-link" href="./products.html">Productos<span class="sr-only">(current)</span></a>
                </li>
                
                <li class="nav-item dropdown menu nav__links">
                  <a class="nav-link dropdown-toggle" href="./error404.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Arma tu PC
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="./error404.html">AMD</a>
                    <a class="dropdown-item" href="./error404.html">Intel</a>
                  </div>
                </li>

                <li class="nav-item nav__links">
                  <h1>
                    <a class="nav-link nav__links__h1" href="../index.html">HardBuy</a>
                  </h1>
                </li>

                <li class="nav-item nav__links">
                  <a class="nav-link" href="./account.html">Mi Cuenta</a>
                </li>

                <li class="nav-item nav__links">
                  <a class="nav-link" href="./help.html">Ayuda</a>
                </li>
              </ul>
            </div>
            <div>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
              </form>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <!-- Fin header -->


    <main>
    <!-- Inicio main -->       
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xs-12 clasificacionProductos">
                    
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                          <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                              <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                <h3>Procesadores y Disipadores</h3>
                                <i class="fas fa-chevron-down clasificacion__arrow"></i>
                              </button>
                            </h2>
                          </div>
                      
                          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                              <div><a href=""> - Procesador AMD</a></div>
                              <div><a href=""> - Procesador Intel</a></div>
                              <div><a href=""> - Soluciones térmicas</a></div>
                              <div><a href=""> - Disipadores</a></div>
                            </div>
                          </div>
                        </div>

                        
                        <div class="card">
                          <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                              <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">              
                                <h3>Motherboards</h3>
                                <i class="fas fa-chevron-down clasificacion__arrow"></i>
                              </button>
                            </h2>
                          </div>
                          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                                <div><a href=""> - Motherboard AMD</a></div>
                                <div><a href=""> - Motherboard Intel</a></div>
                            </div>
                          </div>
                        </div>

                        <div class="card">
                          <div class="card-header" id="headingThree">
                            <h2 class="mb-0">
                              <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <h3>Placas de video</h3>
                                <i class="fas fa-chevron-down clasificacion__arrow"></i>
                              </button>
                            </h2>
                          </div>
                          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body">
                                <div><a href=""> - Placas Radeon</a></div>
                                <div><a href=""> - Placas Nvidia</a></div>
                            </div>
                          </div>
                        </div>
                     
                      <div class="card">
                        <div class="card-header" id="headingFour">
                          <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                              <h3>Memorias RAM</h3>
                              <i class="fas fa-chevron-down clasificacion__arrow"></i>
                            </button>
                          </h2>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                          <div class="card-body">
                              <div><a href=""> - Memorias DDR3</a></div>
                              <div><a href=""> - Memorias DDR4</a></div>
                              <div><a href=""> - Memorias SODIMM</a></div>
                          </div>
                        </div>
                      </div>

                      <div class="card">
                        <div class="card-header" id="headingFive">
                          <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                              <h3>Gabinetes, fuentes y coolers</h3>
                              <i class="fas fa-chevron-down clasificacion__arrow"></i>
                            </button>
                          </h2>
                        </div>
                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                          <div class="card-body">
                              <div><a href=""> - Gabinetes</a></div>
                              <div><a href=""> - Fuentes de alimentación</a></div>
                              <div><a href=""> - Ventiladores</a></div>
                          </div>
                        </div>
                      </div>

                      <div class="card">
                        <div class="card-header" id="headingSix">
                          <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                              <h3>Almacenamiento</h3>
                              <i class="fas fa-chevron-down clasificacion__arrow"></i>
                            </button>
                          </h2>
                        </div>
                        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                          <div class="card-body">
                              <div><a href=""> - Discos sólidos</a></div>
                              <div><a href=""> - Discos duros</a></div>
                              <div><a href=""> - Pendrives</a></div>
                              <div><a href=""> - Discos externos</a></div>
                          </div>
                        </div>
                      </div>

                      <div class="card">
                        <div class="card-header" id="headingSeven">
                          <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                              <h3>Monitores</h3>
                              <i class="fas fa-chevron-down clasificacion__arrow"></i>
                            </button>
                          </h2>
                        </div>
                        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
                          <div class="card-body">
                              <div><a href=""> - Resolución Full HD</a></div>
                              <div><a href=""> - Resolución 2k</a></div>
                              <div><a href=""> - Tasa de refresco 144hz</a></div>
                              <div><a href=""> - Tasa de refresco 240hz</a></div>
                          </div>
                        </div>
                      </div>

                    </div>
                </div>
        

        
                <div class="col-lg-6 col-xs-12">
                    <section class="ofertas ofertas__productos">
                        <div class="ofertas__container ofertas__container__productos--padding">
                            <div>
                                <div class="ofertas__image">
                                    <img src="../assets/img/micros/celeron.png" alt="procesador celeron" width="100" height="100">
                                </div>
                                <div class="ofertas__content products__content">
                                    <ul>
                                        <li>Intel Celeron</li>
                                        <li class="price">$8000</li>
                                        <li><input type="button" value="Añadir al carrito"></li>
                                    </ul>
                                </div>
                            </div>
                            <div>
                                <div class="ofertas__image">
                                    <img src="../assets/img/micros/pentium.png" alt="procesador pentium" width="100" height="100">
                                </div>
                                <div class="ofertas__content products__content">
                                    <ul>
                                        <li>Intel Pentium</li>
                                        <li class="price">$10000</li>
                                        <li><input type="button" value="Añadir al carrito"></li>
                                    </ul>
                                </div>
                            </div>
                            <div>
                                <div class="ofertas__image">
                                    <img src="../assets/img/micros/i3.png" alt="procesador i3 9100f" width="100" height="100">
                                </div>
                                <div class="ofertas__content products__content">
                                    <ul>
                                        <li>Intel i3 9100f</li>
                                        <li class="price">$13000</li>
                                        <li><input type="button" value="Añadir al carrito"></li>
                                    </ul>
                                </div>
                            </div>
                            <div>
                                <div  class="ofertas__image">
                                    <img src="../assets/img/micros/i3-11th.png" alt="procesador i3 11gen" width="100" height="100">
                                </div>
                                <div class="ofertas__content products__content">
                                    <ul>
                                        <li>Intel i3 11gen</li>
                                        <li class="price">$20000</li>
                                        <li><input type="button" value="Añadir al carrito"></li>
                                    </ul>
                                </div>
                            </div>
                            <div>
                                <div  class="ofertas__image">
                                    <img src="../assets/img/intel.png" alt="procesador i5 9400f" width="100" height="100">
                                </div>
                                <div class="ofertas__content products__content">
                                    <ul>
                                        <li>Intel i5 9400f</li>
                                        <li class="price">$23000</li>
                                        <li><input type="button" value="Añadir al carrito"></li>
                                    </ul>
                                </div>
                            </div>
                            <div>
                                <div  class="ofertas__image">
                                    <img src="../assets/img/micros/i5-11th.png" alt="procesaor i5 11gen" width="100" height="100">
                                </div>
                                <div class="ofertas__content products__content">
                                    <ul>
                                        <li>Intel i5 11gen</li>
                                        <li class="price">$25000</li>
                                        <li><input type="button" value="Añadir al carrito"></li>
                                    </ul>
                                </div>
                            </div>
                            <div>
                                <div  class="ofertas__image">
                                    <img src="../assets/img/micros/i7-10700ka.png"  alt="procesador i7 10700ka" width="100" height="100">
                                </div>
                                <div class="ofertas__content products__content">
                                    <ul>
                                        <li>Intel i7 10700ka</li>
                                        <li class="price">$29000</li>
                                        <li><input type="button" value="Añadir al carrito"></li>
                                    </ul>
                                </div>                 
                            </div>
                            <div>
                                <div  class="ofertas__image">
                                    <img src="../assets/img/micros/i9.png" alt="procesador i9 9900k" width="100" height="100">
                                </div>
                                <div class="ofertas__content products__content">
                                    <ul>
                                        <li>Intel i9 9900k</li>
                                        <li class="price">$35000</li>
                                        <li><input type="button" value="Añadir al carrito"></li>
                                    </ul>
                                </div>                 
                            </div>
                            <div>
                                <div  class="ofertas__image">
                                    <img src="../assets/img/micros/i9-11th.png" alt="procesador i9 11 gen" width="100" height="100">
                                </div>
                                <div class="ofertas__content products__content">
                                    <ul>
                                        <li>Intel i9 11gen</li>
                                        <li class="price">$40000</li>
                                        <li><input type="button" value="Añadir al carrito"></li>
                                    </ul>
                                </div>                 
                            </div>
                        </div>   
                    </section> 
                </div>
            </div> 
        </div>
        <!-- Fin main -->

        <!-- Inicio footer -->
        <footer>
          <div class="container-fluid">
            <div class="row">
              <section class="col-lg-12 col-xs-12 footer__info">
                <a class="footer__info__links" href="">Quiénes somos</a>
                <a class="footer__info__links" href="">Términos y condiciones</a>
                <a class="footer__info__links" shref="">Garantía y devoluciones</a>       
              </section>
            </div>
            <div class="row">
              <section class="col-lg-6 col-xs-12 footer__redes">
                <h3>Seguinos en</h3>
                <div class="footer__logos--animated">
                    <a class="footer__logo__imagenes--margin" href="https://www.facebook.com.ar/hardbuy" target="blank"><img src="../assets/img/fb_logo.png" alt="logo facebook" width="50" height="50"></a>
                    <a class="footer__logo__imagenes--margin" href="https://www.instagram.com/hardbuy" target="blank"><img src="../assets/img/instagram_logo.png" alt="logo instagram" width="50" height="50"></a>
                    <a class="footer__logo__imagenes--margin" href="https://www.twitter.com/hardbuy" target="blank"><img src="../assets/img/twitter_logo.png" alt="logo twitter" width="50" height="50"></a>
                    <a class="footer__logo__imagenes--margin" href="https://www.youtube.com/hardbuy" target="blank"><img src="../assets/img/youtube_logo.png" alt="logo youtube" width="50" height="50"></a>
                </div>
              </section>
    
              <section class="col-lg-6 col-xs-12 footer__contacto">
                <div>
                  <h3>Contacto</h3>
                </div>
                <div class="footer__logos--animated">
                  <a href="https://api.whatsapp.com/send?phone=+5491111111111" target="blank"><img src="../assets/img/wp_logo.png" alt="logo whatsapp" width="50" height="50"></a>
                </div>
              </section>
            </div>
          </div>
        </footer>
    

    <!-- Fin footer -->

    
    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" integrity="sha512-RXf+QSDCUQs5uwRKaDoXt55jygZZm2V++WUZduaU/Ui/9EGp3f/2KZVahFZBKGH0s774sd3HmrhUy+SgOFQLVQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    </body>
<!-- Fin body -->

</html>